@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
h1 {
  background-image: linear-gradient(20deg, #11998e, #38ef7d);
  width: 20%;
  text-align: center;
  border-radius: 50px;
}
.form__group {
  position: relative;
  padding: 5px 0 0;
  width: 50%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.2rem;
  color: #fff;
  padding: 15px 0;
  background: transparent;
  transition: border-color 0.2s, bottom 0.2s ease-in-out;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 10px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s, bottom 0.2s ease-in-out;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 20px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 70;
  display: block;
  transition: 0.2s, bottom 0.2s ease-in-out;
  font-size: 0.9rem;
  color: #11998e;
  font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}
/* demo */
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  font-size: 1.5rem;
  background-color: #222;
}
